*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    min-height: 100vh;
}

section .color{
position: absolute;
filter: blur(150px);

}

section .color:nth-child(1){
width: 600px;
height: 700px;
top: 150px;
left: 300px;
background: orangered;
}

section .color:nth-child(2){
    width: 600px;
    height: 350px;
    bottom: 150px;
    background: purple;
    }
    
section .color:nth-child(3){
    width: 300px;
    height: 800px;
    top: 100px;
    right: 50px;
    background:blue;
    }

.shape .shapes{
    position: absolute;
    background: rgba(255,255, 255, 0.1);
    filter: blur(5px);
    animation: animate 10s ease-in-out infinite;
    animation-delay: calc(-1s * var(--i));
}
   

@keyframes animate{
0%{
    transform: translateY(-40px);
}

50%{
    transform: translateY(40px);
}
}

.shape .shapes:nth-child(1){
    top: 50px;
    left: 50vh;
    height: 200px;
    width: 160px;
    z-index: 2;
}

.shape .shapes:nth-child(2){
    top: 250px;
    left: 300px;
    height: 160px;
    width:160px;
    z-index: 2;
}

.shape .shapes:nth-child(3){
    top: 100px;
    right:50px;
    height: 100px;
    width: 250px;
    z-index: 2;
}

.shape .shapes:nth-child(4){
    bottom: 100px;
    left: 600px;
    height: 200px;
    width: 300px;
    z-index: 2;
}

.shape .shapes:nth-child(5){
    top: 300px;
    right:150px;
    height: 100px;
    width: 160px;
    z-index: 2;
}

